/*
 * This file is copyright 2002-2020
 *
 * Halogen Software Inc. All rights reserved.
 * http://www.halogensoftware.com
 *
 * Redistribution and use in source and binary forms, with or without modification,
 * is not permitted absent prior written approval from Halogen Software Inc.
 */

.mainDiv{
  alignment: center;
  margin: 10px;
  background: indianred;
  border: 5px solid blueviolet;
  width: 100px;
}

img {
  width: 30px;
  height: 30px;
}

i {
  color: white;
  padding: 3px 5px;
}
