<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" #ServerName>
    <label>Server Content</label>
    <input type="text" class="form-control" #ServerContent>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(ServerContent)">Add Server</button>
    <!--(click)="onAddServer( ServerName, ServerContent )">Add Server</button>-->
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(ServerContent)">Add Server Blueprint</button>
    <!--(click)="onAddBlueprint( ServerName, ServerContent )">Add Server Blueprint</button>-->
  </div>
</div>
