<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item">
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
        <div ></div>
      </ng-template>
      <div *appUnless="!onlyOdd">
        <p>works</p>
      </div>
      <p appBasicHightlight>i'm styled</p>
      <p appHighLightDirective2>i'm styled</p>
    </div>
  </div>
</div>
