/*
 * This file is copyright 2002-2020
 *
 * Halogen Software Inc. All rights reserved.
 * http://www.halogensoftware.com
 *
 * Redistribution and use in source and binary forms, with or without modification,
 * is not permitted absent prior written approval from Halogen Software Inc.
 */

.imag {
  width:30px;
  height: 30px;
  margin: 10px;
}

.inputbtn {
  width: 40px;
  height: 20px;
  alignment: left;
  margin: 3px 6px;
}
