<!--
  ~ This file is copyright 2002-2020
  ~
  ~ Halogen Software Inc. All rights reserved.
  ~ http://www.halogensoftware.com
  ~
  ~ Redistribution and use in source and binary forms, with or without modification,
  ~ is not permitted absent prior written approval from Halogen Software Inc.
  -->
<style>
  img {
    width:30px;
    height: 30px;
    margin: 10px;
  }
</style>
<div style="margin-left: 20%; margin-bottom: 50px">
<p>this is a custom component</p>
</div>

<div align="center" >
  <img alt="no internet connection" (click)="changeText()" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png" />
</div>
<table class="table table-hover">
  <td class="col-lg-4">
    <input type="button" name="btn" class="btn btn-primary inputbtn" [disabled]="getBtnDisbaled()" (click)="btnClicked()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (mouseover)="onMouseOver()" />
  </td>
  <td class="col-lg-4">
    <div>
      <span align="middle">{{ getText() }}</span>
    </div>
  </td>
  <td class="col-lg-4">
    <div>
      <img alt="count" name="countIcon" class="imag" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/count-16-1040693.png"/>
    </div>
  </td>
  <td class="col-lg-4">
    <div align="right">
      <i> {{count}} </i>
    </div>
  </td>
  <td class="col-lg-4">
    <div align="right">
      <h3>1st app</h3>
    </div>
  </td>
</table>
<input type="button" class="btn btn-danger" *ngFor="let i of list" [value]="list.indexOf(i)" />

