<!--
  ~ This file is copyright 2002-2020
  ~
  ~ Halogen Software Inc. All rights reserved.
  ~ http://www.halogensoftware.com
  ~
  ~ Redistribution and use in source and binary forms, with or without modification,
  ~ is not permitted absent prior written approval from Halogen Software Inc.
  -->
<style>
  img {
    width:30px;
    height: 30px;
    margin: 10px;
  }
</style>
<div style="margin-left: 20%; margin-bottom: 50px">
<p>this is a custom component</p>
</div>

<div align="center" >
  <!--<img src="www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fc%2Fcf%2FAngular_full_color_logo.svg%2F1200px-Angular_full_color_logo.svg.png&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FAngular_(web_framework)&docid=NgFEMLdWIdXlsM&tbnid=zMVT-tzIv4v9fM%3A&vet=10ahUKEwikyemx4JfnAhUXXM0KHe0oAmwQMwhjKAAwAA..i&w=1200&h=1200&itg=1&bih=754&biw=563&q=angular%20image&ved=0ahUKEwikyemx4JfnAhUXXM0KHe0oAmwQMwhjKAAwAA&iact=mrc&uact=8" alt="no internet connection">-->
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png" alt="no internet connection">
</div>

<div align="right">
  <h3>1st app</h3>
</div>
